@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background:#000
}

input{
  color:#fff;
  padding:17px;
  outline:none;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
  border-radius: 25%;
}

.maincolor{
  background-color: #000;
}

.num{
  width: 64px;
  height: 67px;
}

.text{
  width: 160px;
  height: 26px;
  border-radius: 22px;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 12px;
}

.text1{
  width: 24px;
  height: 26px;
  border-radius: 22px;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom:12px;
  border-radius: 50%;
  cursor: pointer;
}

.main{
  display: inline-block;
}

.blue{
  background-color:#0cd0cd;
}

.pin{
  background-color:#cf1596;
}

.gre{
  background-color:#aad800;
}

.pur{
  background-color:#8c52f0
}

.ora{
  background-color:#fcb707;
}

